@import "tailwindcss";

*{
  box-sizing: border-box;
}

ion-content {
  --background: #000000;
}

ion-header, ion-toolbar{
  --background: #171717;
}

@theme{
  --color-primary: #FF00FB;
  --color-background: #171717;
  --color-textPrimary: #8C8C8C;
  --color-borderGray: #2c2c2c;
}

.hamburguer{
    color: var(--color-primary); 
}

ion-button {
  --background-activated: transparent;
  --background: transparent;
  --ripple-color: transparent;
  --box-shadow: none;
}

ion-input {
  --highlight-color-focused: transparent !important;
  --highlight-color: white !important;
  --highlight-height: 0 !important;
}

ion-router-link{
  --color: #2c2c2c;
}

/* @layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
} */


/* #progress{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}


#volume{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
} */